@import 'variable.scss';

/* OUR CHEF */

.our-chef{
    background: radial-gradient(#393738, $background-dark);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: $white;
    font-size: 1rem;
    padding-bottom: 100px;
    h2{
        @include h2-properties;
    }
}
.our-chef__header{
    text-align: center;
    h3{
        @include h3-properties;
    }
    p{
        font-family: $font-family-subtitle;
    }
}
.our-chef__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    img{
        width: 250px;
        margin: 15px 15px;
    }
}